<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%#= link_to "Download", users_path(format: :csv), download: ["Users", Date.today].join(" ") %>
<%= link_to "Download", users_path(format: :csv) %>
<div id="users">

<div>
  <%= @users.count %>
</div>


<%= form_with url: import_users_url, method: :post do |form| %>
  <%= form.file_field :file, accept: ".csv" %>
  <%= form.button "Import" %>
<% end %>


<%= link_to "New user", new_user_path %>

  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>
